# Default owners for the entire repository
*                    @LerianStudio/G_Github_Devops

# Owners for specific directories and files
.github/*            @LerianStudio/G_Github_Devops
.githooks/*          @LerianStudio/G_Github_Devops