{{- if not .Values.reconciliation.useExistingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "reconciliation.fullname" . }}
  labels:
    {{- include "reconciliation.labels" (dict "context" . "name" .Values.reconciliation.name ) | nindent 4 }}
  annotations:
    avp.kubernetes.io/kv-version: "2"
    avp.kubernetes.io/path: secret/data/firmino/plugin-br-pix-indirect-btg
type: Opaque
data:
  # Database Configuration
  DB_PASSWORD: {{ .Values.reconciliation.secrets.DB_PASSWORD | default "" | b64enc | quote }}
  DB_REPLICA_PASSWORD: {{ .Values.reconciliation.secrets.DB_REPLICA_PASSWORD | default "" | b64enc | quote }}

  # BTG API Configuration
  BTG_CLIENT_ID: {{ .Values.reconciliation.secrets.BTG_CLIENT_ID | default "" | b64enc | quote }}
  BTG_CLIENT_SECRET: {{ .Values.reconciliation.secrets.BTG_CLIENT_SECRET | default "" | b64enc | quote }}

  # CRM API Configuration
  PLUGIN_CRM_CLIENT_ID: {{ .Values.reconciliation.secrets.PLUGIN_CRM_CLIENT_ID | default "" | b64enc | quote }}
  PLUGIN_CRM_CLIENT_SECRET: {{ .Values.reconciliation.secrets.PLUGIN_CRM_CLIENT_SECRET | default "" | b64enc | quote }}

  # PIX BTG API Configuration
  PLUGIN_PIX_BTG_CLIENT_ID: {{ .Values.reconciliation.secrets.PLUGIN_PIX_BTG_CLIENT_ID | default "" | b64enc | quote }}
  PLUGIN_PIX_BTG_CLIENT_SECRET: {{ .Values.reconciliation.secrets.PLUGIN_PIX_BTG_CLIENT_SECRET | default "" | b64enc | quote }}

  # Redis Configuration
  REDIS_PASSWORD: {{ .Values.reconciliation.secrets.REDIS_PASSWORD | default "" | b64enc | quote }}

{{- end }}
