kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "plugin-auth-backend.fullname" . }}
data:
  appname: plugin-auth-casdoor-backend
  runmode: dev
  httpport: "8000"
  driverName: "postgres"
  dbName: casdoor
  showSql: "false"
  authState: "casdoor"
  socks5Proxy: "127.0.0.1:10808"
  verificationCodeTimeout: "10"
  logPostOnly: "true"
  isUsernameLowered: "false"
  batchSize: "100"
  enableErrorMask: "false"
  enableGzip: "true"
  quota: '{"organization": -1, "user": -1, "application": -1, "provider": -1}'
  logConfig: '{"filename": "logs/casdoor.log", "maxdays": 99999, "perm": "0770"}'
  initDataFile: "./init_data.json"