apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "plugin-auth-backend.fullname" . }}
  labels:
    {{- include "plugin-auth-backend.labels" (dict "context" . "name" .Values.auth.backend.name ) | nindent 4 }} 
spec:
  revisionHistoryLimit: {{ .Values.auth.backend.revisionHistoryLimit | default 10 }}
  strategy:
    {{- toYaml .Values.auth.deploymentStrategy | nindent 4 }}
  replicas: {{ .Values.auth.backend.replicaCount }}
  selector:
    matchLabels:
      {{- include "plugin-auth-backend.selectorLabels" (dict "context" . "name" .Values.auth.backend.name) | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "plugin-auth-backend.labels" (dict "context" . "name" .Values.auth.backend.name ) | nindent 8 }}
    spec:
      {{- with .Values.auth.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.auth.podSecurityContext | nindent 8 }}
      initContainers:
        - name: wait-for-dependencies
          image: busybox
          envFrom:
          - configMapRef:
              name: {{ include "plugin-auth.fullname" . }}
          command:
            - /bin/sh
            - -c
            - >
              for svc in "$DB_HOST:$DB_PORT" "$REDIS_HOST:$REDIS_PORT";
              do
                echo "Checking $svc...";
                while ! nc -z $(echo $svc | cut -d: -f1) $(echo $svc | cut -d: -f2); do
                  echo "$svc is not ready yet, waiting...";
                  sleep 5;
                done;
                echo "$svc is ready!";
              done;
      containers:
        - name: {{ include "plugin-auth-backend.fullname" . }}
          securityContext:
            {{- toYaml .Values.auth.securityContext | nindent 12 }}
          image: ghcr.io/lerianstudio/casdoor:2.1.1
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          envFrom:
          - configMapRef:
              name: {{ include "plugin-auth-backend.fullname" . }}
          {{ if (index .Values "otel-collector-lerian").enabled }}
          env:
          - name: "HOST_IP"
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          - name: "OTEL_EXPORTER_OTLP_ENDPOINT"
            value: "$(HOST_IP):4317"
          {{ end }}
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 5
          livenessProbe:
            initialDelaySeconds: 20
            httpGet:
              path: /api/health
              port: 8000
      {{- with .Values.auth.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.auth.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.auth.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}