apiVersion: v2
name: plugin-access-manager
description: A Helm chart for Kubernetes
type: application

home: https://github.com/LerianStudio/helm

# A list of maintainers who are responsible for the chart
maintainers:
  - name: "Lerian Studio"
    email: "support@lerian.studio"

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.

version: 1.6.0

# This is the version number of the application being deployed. 
appVersion: "1.0.0"

# A list of keywords about the chart. This helps others discover the chart.
keywords:
  - midaz
  - lerian
  - ledger
  - plugins
  - access
  - auth
  - identity

# The URL to an icon file for this chart. Or the icon data.
icon: https://avatars.githubusercontent.com/u/148895005?s=200&v=4

# This Helm chart includes multiple dependencies required for the application. 
# To understand the purpose and configuration of each dependency, visit:
# https://docs.lerian.studio/docs/midaz-components  
dependencies:
  - name: postgresql
    alias: auth-database
    version: "16.3"
    repository: "https://charts.bitnami.com/bitnami"
    condition: auth-database.enabled
  - name: valkey
    version: "2.4.6"
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: valkey.enabled
