
identity:
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: ""
        paths:
          - path: /
            pathType: Prefix
    tls: []

  configmap:
    ENV_NAME: "development"
    AUTH_ENABLED: "true"
    AUTH_PORT: "4000"
    AUTH_ADDRESS: "http://plugin-access-manager-auth:4000"
    AUTHORIZER_CLIENT_ID: "ac56c81d4d6d95c0ac12"
    REDIS_HOST: "plugin-access-manager-valkey-primary.midaz-plugins.svc.cluster.local"
    REDIS_PORT: 6379
    REDIS_USER: "auth"

  secrets:
    AUTHORIZER_CLIENT_SECRET: "6add4bc64f394456a77fa85708ad8c9b67e39e4c"
    LICENSE_KEY: ""
    ORGANIZATION_IDS: ""
    REDIS_PASSWORD: "lerian"

auth:
  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: ""
        paths:
          - path: /
            pathType: Prefix
    tls: []

  configmap:
    DB_USER: "auth"
    DB_HOST: "plugin-access-manager-auth-database.midaz-plugins.svc.cluster.local"
    DB_PORT: 5432
    DB_NAME: "casdoor"
    ENV_NAME: "development"
    REDIS_HOST: "plugin-access-manager-valkey-primary.midaz-plugins.svc.cluster.local"
    REDIS_PORT: 6379
    REDIS_USER: "auth"
    AUTHORIZER_CLIENT_ID: "ac56c81d4d6d95c0ac12"

  secrets:
    DB_PASSWORD: "lerian"
    AUTHORIZER_CLIENT_SECRET: "6add4bc64f394456a77fa85708ad8c9b67e39e4c"
    REDIS_PASSWORD: "lerian"
    LICENSE_KEY: ""
    ORGANIZATION_IDS: ""

  initUser:
    enabled: true

auth-database:
  enabled: true

valkey:
  enabled: true