apiVersion: v1
kind: Secret
metadata:
  name: {{ include "midaz-onboarding.fullname" . }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: Opaque
data:
  MONGO_PASSWORD: {{ .Values.onboarding.secrets.MONGO_PASSWORD | default "lerian" | b64enc | quote }}
  DB_PASSWORD: {{ .Values.onboarding.secrets.DB_PASSWORD | default "lerian" | b64enc | quote }}
  DB_REPLICA_PASSWORD: {{ .Values.onboarding.secrets.DB_REPLICA_PASSWORD | default "lerian" | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.onboarding.secrets.RABBITMQ_DEFAULT_PASS | default "lerian" | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.onboarding.secrets.REDIS_PASSWORD | default "lerian" | b64enc | quote }}