# Default values

manager:
  configmap:
    PLUGIN_AUTH_ENABLED: "false"
  useExistingSecret: false
  existingSecretName: ""

common:
  configmap:

    # WORKER
    ENV_NAME: development

    # RABBITMQ
    RABBITMQ_URI: amqp
    RABBITMQ_PORT_HOST: 15672
    RABBITMQ_HOST: reporter-rabbitmq.reporter.svc.cluster.local
    RABBITMQ_PORT_AMQP: 5672
    RABBITMQ_NUMBERS_OF_WORKERS: 5
    RABBITMQ_EXCHANGE: "reporter.generate-report.exchange"
    RABBITMQ_GENERATE_REPORT_QUEUE: "reporter.generate-report.queue"
    RABBITMQ_GENERATE_REPORT_KEY: "reporter.generate-report.key"

    # SEAWEEEDFS
    SEAWEEDFS_HOST: seaweedfs-filer.reporter.svc.cluster.local
    SEAWEEDFS_FILER_PORT: 9000
    SEAWEEDFS_TTL: 6M

    # MONGO DB
    #MONGO_URI=mongo+srv
    MONGO_URI: mongodb
    MONGO_HOST: reporter-mongodb.reporter.svc.cluster.local
    MONGO_NAME: reporter-db
    MONGO_USER: reporter
    MONGO_PORT: 27017
    MONGO_MAX_POOL_SIZE: 1000

    # OPEN TELEMETRY
    OTEL_LIBRARY_NAME: github.com/LerianStudio/plugin-template-engine
    OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT: development
    OTEL_EXPORTER_OTLP_ENDPOINT_PORT: 4317
    OTEL_EXPORTER_OTLP_ENDPOINT: otlp://midaz-otel-lgtm:4317
    ENABLE_TELEMETRY: false

    # MIDAZ ONBOARDING
    DATASOURCE_ONBOARDING_CONFIG_NAME: midaz_onboarding
    DATASOURCE_ONBOARDING_HOST: midaz-postgresql-replication.midaz.svc.cluster.local
    DATASOURCE_ONBOARDING_PORT: 5432
    DATASOURCE_ONBOARDING_USER: midaz
    DATASOURCE_ONBOARDING_DATABASE: onboarding
    DATASOURCE_ONBOARDING_TYPE: postgresql
    DATASOURCE_ONBOARDING_SSLMODE: disable



secrets:
  MONGO_PASSWORD: lerian
  RABBITMQ_DEFAULT_USER: plugin
  RABBITMQ_DEFAULT_PASS: Lerian@123
  DATASOURCE_ONBOARDING_PASSWORD: lerian
  OBJECT_STORAGE_ACCESS_KEY_ID: any
  OBJECT_STORAGE_SECRET_KEY: any

seaweedfs:
  enabled: true

keda:
  enabled: true

mongodb:
  enabled: true

externalRabbitmqDefinitions:
  enabled: false
  connection:
    protocol: "http"
    host: "reporter-rabbitmq"
    port: "15672"
    portAmqp: "5672"
  rabbitmqAdminLogin:
    useExistingSecret:
      name: ""
    username: "midaz"
    password: "lerian"
  appCredentials:
    useExistingSecret:
      name: ""
    pluginPassword: "Lerian@123"

rabbitmq:
  enabled: true

otel-collector-lerian:
  enabled: true