# Default values

manager:
  configmap:
    PLUGIN_AUTH_ENABLED: "false"
  useExistingSecret: false
  existingSecretName: ""

common:
  configmap:

    # WORKER
    ENV_NAME: development

    # RABBITMQ
    RABBITMQ_URI: amqp
    RABBITMQ_PORT_HOST: 15672
    RABBITMQ_HOST: reporter-rabbitmq.reporter.svc.cluster.local
    RABBITMQ_PORT_AMQP: 5672
    RABBITMQ_NUMBERS_OF_WORKERS: 5
    RABBITMQ_EXCHANGE: "reporter.generate-report.exchange"
    RABBITMQ_GENERATE_REPORT_QUEUE: "reporter.generate-report.queue"
    RABBITMQ_GENERATE_REPORT_KEY: "reporter.generate-report.key"

    # SEAWEEEDFS
    SEAWEEDFS_HOST: seaweedfs-filer.reporter.svc.cluster.local
    SEAWEEDFS_FILER_PORT: 9000
    SEAWEEDFS_TTL: 6M

    # MONGO DB
    #MONGO_URI=mongo+srv
    MONGO_URI: mongodb
    MONGO_HOST: reporter-mongodb.reporter.svc.cluster.local
    MONGO_NAME: reporter-db
    MONGO_USER: reporter
    MONGO_PORT: 27017
    MONGO_MAX_POOL_SIZE: 1000

    # OPEN TELEMETRY
    OTEL_LIBRARY_NAME: github.com/LerianStudio/plugin-template-engine
    OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT: development
    OTEL_EXPORTER_OTLP_ENDPOINT_PORT: 4317
    OTEL_EXPORTER_OTLP_ENDPOINT: otlp://midaz-otel-lgtm:4317
    ENABLE_TELEMETRY: false

    # MIDAZ ONBOARDING
    DATASOURCE_ONBOARDING_CONFIG_NAME: midaz_onboarding
    DATASOURCE_ONBOARDING_HOST: midaz-postgresql-replication.midaz.svc.cluster.local
    DATASOURCE_ONBOARDING_PORT: 5432
    DATASOURCE_ONBOARDING_USER: midaz
    DATASOURCE_ONBOARDING_DATABASE: onboarding
    DATASOURCE_ONBOARDING_TYPE: postgresql
    DATASOURCE_ONBOARDING_SSLMODE: disable

    # MIDAZ TRANSACTION
    DATASOURCE_TRANSACTION_CONFIG_NAME: midaz_transaction
    DATASOURCE_TRANSACTION_HOST: midaz-postgresql-replication.midaz.svc.cluster.local
    DATASOURCE_TRANSACTION_PORT: 5432
    DATASOURCE_TRANSACTION_USER: midaz
    DATASOURCE_TRANSACTION_DATABASE: transaction
    DATASOURCE_TRANSACTION_TYPE: postgresql
    DATASOURCE_TRANSACTION_SSLMODE: disable

    # MIDAZ ONBOARDING METADATA
    DATASOURCE_ONBOARDING_METADATA_CONFIG_NAME: "midaz_onboarding_metadata"
    DATASOURCE_ONBOARDING_METADATA_URI: "mongodb"
    DATASOURCE_ONBOARDING_METADATA_HOST: "midaz-mongodb"
    DATASOURCE_ONBOARDING_METADATA_DATABASE: "onboarding"
    DATASOURCE_ONBOARDING_METADATA_USER: "midaz"
    DATASOURCE_ONBOARDING_METADATA_PORT: 27017
    DATASOURCE_ONBOARDING_METADATA_MAX_POOL_SIZE: 1000
    DATASOURCE_ONBOARDING_METADATA_TYPE: "mongodb"
    DATASOURCE_ONBOARDING_METADATA_SSL: false
    DATASOURCE_ONBOARDING_METADATA_OPTIONS: "replicaSet=rs0&authSource=admin&directConnection=true"

    # MIDAZ TRANSACTION METADATA
    DATASOURCE_TRANSACTION_METADATA_CONFIG_NAME: "midaz_transaction_metadata"
    DATASOURCE_TRANSACTION_METADATA_URI: "mongodb"
    DATASOURCE_TRANSACTION_METADATA_HOST: "midaz-mongodb"
    DATASOURCE_TRANSACTION_METADATA_DATABASE: "transaction"
    DATASOURCE_TRANSACTION_METADATA_USER: "midaz"
    DATASOURCE_TRANSACTION_METADATA_PORT: 27017
    DATASOURCE_TRANSACTION_METADATA_MAX_POOL_SIZE: 1000
    DATASOURCE_TRANSACTION_METADATA_TYPE: "mongodb"
    DATASOURCE_TRANSACTION_METADATA_SSL: false
    DATASOURCE_TRANSACTION_METADATA_OPTIONS: "replicaSet=rs0&authSource=admin&directConnection=true"

    # PLUGIN FEES
    DATASOURCE_FEES_CONFIG_NAME: "plugin_fees"
    DATASOURCE_FEES_URI: "mongodb"
    DATASOURCE_FEES_HOST: "plugin-fees-mongodb"
    DATASOURCE_FEES_DATABASE: "plugin-fees-db"
    DATASOURCE_FEES_USER: "plugin-fees"
    DATASOURCE_FEES_PORT: 27017
    DATASOURCE_FEES_TYPE: "mongodb"
    DATASOURCE_FEES_SSL: false
    DATASOURCE_FEES_OPTIONS: "replicaSet=rs0&authSource=admin&directConnection=true"

frontend:
  enabled: false
  configmap:
    MIDAZ_CONSOLE_URL: "http://midaz-nginx.midaz.svc.cluster.local.:8080" # @default -- "http://midaz-nginx.midaz.svc.cluster.local.:8080" if ingress is enabled set the ingress.hostname value

secrets:
  MONGO_PASSWORD: lerian
  RABBITMQ_DEFAULT_USER: plugin
  RABBITMQ_DEFAULT_PASS: Lerian@123
  DATASOURCE_FEES_PASSWORD: plugin-fees
  DATASOURCE_TRANSACTION_METADATA_PASSWORD: lerian
  DATASOURCE_ONBOARDING_METADATA_PASSWORD: lerian
  DATASOURCE_TRANSACTION_PASSWORD: lerian
  DATASOURCE_ONBOARDING_PASSWORD: lerian
  LICENSE_KEY: ""
  ORGANIZATION_IDS: ""

seaweedfs:
  enabled: true

  master:
    enabled: true
    replicas: 1

    extraArgs:
      - "master"
      - "-port=9333"
      - "-mdir=/data"

    service:
      type: ClusterIP
      ports:
        http: 9333
        ui: 9334

    # Persistent storage for the master node
    data:
      type: "persistentVolumeClaim"
      size: "5Gi"
      storageClass: null  # Use cluster default or set a specific StorageClass

  volume:
    enabled: true
    replicas: 1

    extraArgs:
      - "volume"
      - "-port=9080"
      - "-mserver=seaweedfs-master:9333"
      - "-dir=/data"
      - "-max=0"

    service:
      type: ClusterIP
      ports:
        http: 9080

    # Persistent storage for volume servers
    dataDirs:
      - name: data
        type: "persistentVolumeClaim"
        size: "10Gi"
        storageClass: null   # Use default or specify your StorageClass
        maxVolumes: 0        # 0 = let SeaweedFS decide, or set a limit

  filer:
    enabled: true

    extraArgs:
      - "filer"
      - "-port=8888"
      - "-master=seaweedfs-master:9333"

    service:
      type: ClusterIP
      ports:
        http: 8888

    # Persistent storage for filer
    data:
      type: "persistentVolumeClaim"
      size: "25Gi"
      storageClass: null

observability:
  enabled: false

keda:
  enabled: true

mongodb:
  enabled: true

rabbitmq:
  enabled: true