{{- if and .Values.ledger.enabled (not .Values.ledger.useExistingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "midaz-ledger.fullname" . }}
type: Opaque
data:
  # =============================================================================
  # ONBOARDING MODULE SECRETS
  # =============================================================================
  DB_ONBOARDING_PASSWORD: {{ .Values.ledger.secrets.DB_ONBOARDING_PASSWORD | default "lerian" | b64enc | quote }}
  DB_ONBOARDING_REPLICA_PASSWORD: {{ .Values.ledger.secrets.DB_ONBOARDING_REPLICA_PASSWORD | default "lerian" | b64enc | quote }}
  MONGO_ONBOARDING_PASSWORD: {{ .Values.ledger.secrets.MONGO_ONBOARDING_PASSWORD | default "lerian" | b64enc | quote }}

  # =============================================================================
  # TRANSACTION MODULE SECRETS
  # =============================================================================
  DB_TRANSACTION_PASSWORD: {{ .Values.ledger.secrets.DB_TRANSACTION_PASSWORD | default "lerian" | b64enc | quote }}
  DB_TRANSACTION_REPLICA_PASSWORD: {{ .Values.ledger.secrets.DB_TRANSACTION_REPLICA_PASSWORD | default "lerian" | b64enc | quote }}
  MONGO_TRANSACTION_PASSWORD: {{ .Values.ledger.secrets.MONGO_TRANSACTION_PASSWORD | default "lerian" | b64enc | quote }}

  # =============================================================================
  # SHARED SECRETS
  # =============================================================================
  REDIS_PASSWORD: {{ .Values.ledger.secrets.REDIS_PASSWORD | default "lerian" | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.ledger.secrets.RABBITMQ_DEFAULT_PASS | default "lerian" | b64enc | quote }}
  RABBITMQ_CONSUMER_PASS: {{ .Values.ledger.secrets.RABBITMQ_CONSUMER_PASS | default "lerian" | b64enc | quote }}
{{- end }}
