{{- if .Values.rabbitmq.enabled }}
# This secret is used by the embedded RabbitMQ subchart to auto-load definitions at startup
# For external RabbitMQ, use externalRabbitmqDefinitions.enabled instead (bootstrap job)
apiVersion: v1
kind: Secret
metadata:
  name: "fetcher-manager-load-definitions"
  labels:
    {{- include "fetcher-manager.labels" . | nindent 4 }}
type: Opaque
data:
  load_definition.json: |
    {{ .Files.Get "files/rabbitmq/load_definitions.json" | b64enc | nindent 4 }}
{{- end }}
