apiVersion: v2
name: plugin-smart-templates-helm
description: A Helm chart for deploying Golang applications
type: application

home: https://github.com/LerianStudio/plugin-smart-templates/tree/main/deploy/charts/plugin-smart-templates
sources:
  - https://github.com/LerianStudio/plugin-smart-templates/tree/main/deploy/charts/plugin-smart-templates
  - https://github.com/LerianStudio/plugin-smart-templates

# A list of maintainers who are responsible for the chart
maintainers:
  - name: "Lerian Studio"
    email: "support@lerian.studio"

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 1.0.0

# This is the version number of the application being deployed. 
appVersion: "0.1.0"

# A list of keywords about the chart. This helps others discover the chart.
keywords:
  - midaz
  - lerian
  - ledger
  - smart-templates
  - plugin

# The URL to an icon file for this chart. Or the icon data.
icon: https://avatars.githubusercontent.com/u/148895005?s=200&v=4

# Dependencies
dependencies:
  - name: keda
    version: "2.17.1"
    repository: "https://kedacore.github.io/charts"
    condition: keda.enabled
    tags:
      - keda-operator
  - name: minio
    version: "16.0.10"
    repository: "https://charts.bitnami.com/bitnami"
    condition: minio.enabled
  - name: mongodb
    version: "16.4.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: mongodb.enabled
  - name: rabbitmq
    version: "15.2"
    repository: "https://charts.bitnami.com/bitnami"
    condition: rabbitmq.enabled

