apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "plugin-identity.fullname" . }}
  labels:
    {{- include "plugin-identity.labels" (dict "context" . "name" .Values.identity.name ) | nindent 4 }} 
data:
  # -- Default Environment variables for the plugin-identity 
  ENV_NAME: {{ .Values.identity.configmap.ENV_NAME | default "development" | quote }}

  # APP 
  APPLICATION_NAME: {{ .Values.identity.configmap.APPLICATION_NAME | default "plugin-identity" | quote }}
  SERVER_PORT: {{ .Values.identity.configmap.SERVER_PORT | default "4001" | quote }}
  SERVER_ADDRESS: {{ .Values.identity.configmap.SERVER_ADDRESS | default ":4001" | quote }} 
  VERSION: "v{{ include "plugin.version" . }}"

  # CASDOOR
  CASDOOR_ADDRESS: {{ .Values.identity.configmap.CASDOOR_ADDRESS | default (printf "http://plugin-auth.%s.svc.cluster.local:8000" .Release.Namespace) | quote }}
  CASDOOR_CLIENT_ID: {{ .Values.identity.configmap.CASDOOR_CLIENT_ID | default "ac56c81d4d6d95c0ac12" | quote }}
  CASDOOR_CLIENT_SECRET: {{ .Values.identity.configmap.CASDOOR_CLIENT_SECRET | default "6add4bc64f394456a77fa85708ad8c9b67e39e4c" | quote }}
  CASDOOR_ORGANIZATION_NAME: {{ .Values.identity.configmap.CASDOOR_ORGANIZATION_NAME | default "lerian" | quote }}
  CASDOOR_APPLICATION_NAME: {{ .Values.identity.configmap.CASDOOR_APPLICATION_NAME | default "app-login" | quote }}

  # AUTH
  AUTH_ENABLED: {{ .Values.identity.configmap.AUTH_ENABLED | default "true" | quote }}
  AUTH_PORT: {{ .Values.identity.configmap.AUTH_PORT | default "4000" | quote }}
  AUTH_ADDRESS: {{ .Values.identity.configmap.AUTH_ADDRESS | default (printf "http://plugin-auth.%s.svc.cluster.local:4000" .Release.Namespace) | quote }}

  # SWAGGER
  SWAGGER_TITLE: {{ .Values.identity.configmap.SWAGGER_TITLE | default "Plugin Identity API" | quote }}
  SWAGGER_DESCRIPTION: {{ .Values.identity.configmap.SWAGGER_DESCRIPTION | default "This is a swagger documentation for the Plugin Identity API" | quote }}
  SWAGGER_VERSION: "v{{ include "plugin.version" . }}"
  SWAGGER_HOST: {{ .Values.identity.configmap.SWAGGER_HOST | default (printf "plugin-identity.%s.svc.cluster.local:4001" .Release.Namespace) | quote }}
  SWAGGER_BASE_PATH: {{ .Values.identity.configmap.SWAGGER_BASE_PATH | default "/" | quote }}
  SWAGGER_SCHEME: {{ .Values.identity.configmap.SWAGGER_SCHEME | default "http" | quote }}
  SWAGGER_LEFT_DELIMITER: {{ .Values.identity.configmap.SWAGGER_LEFT_DELIMITER | default "{{" | quote }}
  SWAGGER_RIGHT_DELIMITER: {{ .Values.identity.configmap.SWAGGER_RIGHT_DELIMITER | default "}}" | quote }}

  # LOG LEVEL
  LOG_LEVEL: {{ .Values.identity.configmap.LOG_LEVEL | default "debug" | quote }}

  # OPEN TELEMETRY
  OTEL_RESOURCE_SERVICE_NAME: {{ .Values.identity.configmap.OTEL_RESOURCE_SERVICE_NAME | default "plugin-identity" | quote }}
  OTEL_LIBRARY_NAME: {{ .Values.identity.configmap.OTEL_LIBRARY_NAME | default "github.com/LerianStudio/identity" | quote }}
  OTEL_RESOURCE_SERVICE_VERSION: "v{{ include "plugin.version" . }}"
  OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT: {{ .Values.identity.configmap.OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT | default "dev" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT_PORT: {{ .Values.identity.configmap.OTEL_EXPORTER_OTLP_ENDPOINT_PORT | default "4317" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.identity.configmap.OTEL_EXPORTER_OTLP_ENDPOINT | default "midaz-grafana.midaz.svc.cluster.local:4317" | quote }} 

