apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "plugin-identity.fullname" . }}
  labels:
    {{- include "plugin-identity.labels" (dict "context" . "name" .Values.identity.name ) | nindent 4 }} 
data:
  # -- Default Environment variables for the plugin-identity 
  ENV_NAME: {{ .Values.identity.configmap.ENV_NAME | default "development" | quote }}

  # APP 
  APPLICATION_NAME: {{ .Values.identity.configmap.APPLICATION_NAME | default "plugin-identity" | quote }}
  SERVER_PORT: {{ .Values.identity.configmap.SERVER_PORT | default "4001" | quote }}
  SERVER_ADDRESS: {{ .Values.identity.configmap.SERVER_ADDRESS | default ":4001" | quote }} 
  VERSION: {{ .Values.identity.image.tag | quote }}

  # AUTHORIZER
  AUTHORIZER_PORT: {{ .Values.identity.configmap.AUTHORIZER_PORT | default "8000" | quote }}
  AUTHORIZER_ADDRESS: {{ .Values.identity.configmap.AUTHORIZER_ADDRESS | default "http://plugin-access-manager-auth-backend:8000" | quote }}
  AUTHORIZER_CLIENT_ID: {{ .Values.identity.configmap.AUTHORIZER_CLIENT_ID | default "ac56c81d4d6d95c0ac12" | quote }}
  AUTHORIZER_ORGANIZATION_NAME: {{ .Values.identity.configmap.AUTHORIZER_ORGANIZATION_NAME | default "lerian" | quote }}
  AUTHORIZER_APPLICATION_NAME: {{ .Values.identity.configmap.AUTHORIZER_APPLICATION_NAME | default "app-lerian" | quote }}

  # AUTH
  PLUGIN_AUTH_ENABLED: {{ .Values.identity.configmap.AUTH_ENABLED | default "true" | quote }}
  PLUGIN_AUTH_PORT: {{ .Values.identity.configmap.AUTH_PORT | default "4000" | quote }}
  PLUGIN_AUTH_ADDRESS: {{ .Values.identity.configmap.AUTH_ADDRESS | default (printf "http://plugin-access-manager-auth.%s.svc.cluster.local:4000" .Release.Namespace) | quote }}

  # SWAGGER
  SWAGGER_TITLE: {{ .Values.identity.configmap.SWAGGER_TITLE | default "Plugin Identity API" | quote }}
  SWAGGER_DESCRIPTION: {{ .Values.identity.configmap.SWAGGER_DESCRIPTION | default "The Identity API provides a set of endpoints for managing users and client credentials." | quote }}
  SWAGGER_VERSION: {{ .Values.identity.image.tag | quote }}
  SWAGGER_HOST: {{ .Values.identity.configmap.SWAGGER_HOST | default (printf "plugin-identity.%s.svc.cluster.local:4001" .Release.Namespace) | quote }}
  SWAGGER_BASE_PATH: {{ .Values.identity.configmap.SWAGGER_BASE_PATH | default "/" | quote }}
  SWAGGER_SCHEME: {{ .Values.identity.configmap.SWAGGER_SCHEME | default "http" | quote }}
  SWAGGER_LEFT_DELIMITER: {{ .Values.identity.configmap.SWAGGER_LEFT_DELIMITER | default "{{" | quote }}
  SWAGGER_RIGHT_DELIMITER: {{ .Values.identity.configmap.SWAGGER_RIGHT_DELIMITER | default "}}" | quote }}

  # LOG LEVEL
  LOG_LEVEL: {{ .Values.identity.configmap.LOG_LEVEL | default "debug" | quote }}
  SECURE_LOG_FIELDS: {{ .Values.identity.configmap.SECURE_LOG_FIELDS | default "password,clientSecret" | quote }}

  # OPEN TELEMETRY
  OTEL_RESOURCE_SERVICE_NAME: {{ .Values.identity.configmap.OTEL_RESOURCE_SERVICE_NAME | default "plugin-identity" | quote }}
  OTEL_LIBRARY_NAME: {{ .Values.identity.configmap.OTEL_LIBRARY_NAME | default "github.com/LerianStudio/identity" | quote }}
  OTEL_RESOURCE_SERVICE_VERSION: {{ .Values.identity.image.tag | quote }}
  OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT: {{ .Values.identity.configmap.OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT | default "dev" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT_PORT: {{ .Values.identity.configmap.OTEL_EXPORTER_OTLP_ENDPOINT_PORT | default "4317" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.identity.configmap.OTEL_EXPORTER_OTLP_ENDPOINT | default "midaz-grafana.midaz.svc.cluster.local:4317" | quote }} 
  ENABLE_TELEMETRY: {{ .Values.identity.configmap.ENABLE_TELEMETRY | default "true" | quote }}
  # REDIS
  REDIS_HOST: {{ printf "%s:%s" (.Values.identity.configmap.REDIS_HOST | default (printf "plugin-access-manager-valkey-primary.%s.svc.cluster.local" .Release.Namespace)) (.Values.identity.configmap.REDIS_PORT | default "6379" | toString) | quote }}
  REDIS_PORT: {{ .Values.identity.configmap.REDIS_PORT | default "6379" | quote }}
  REDIS_USER: {{ .Values.identity.configmap.REDIS_USER | default "identity" | quote }}
  REDIS_SCAN_COUNT: {{ .Values.identity.configmap.REDIS_SCAN_COUNT | default "500" | quote }}
  REDIS_MASTER_NAME: {{ .Values.identity.configmap.REDIS_MASTER_NAME | default "" | quote }}
  REDIS_TLS: {{ .Values.identity.configmap.REDIS_TLS | default "false" | quote }}
  REDIS_CA_CERT: {{ .Values.identity.configmap.REDIS_CA_CERT | default "" | quote }}
  REDIS_USE_GCP_IAM: {{ .Values.identity.configmap.REDIS_USE_GCP_IAM | default "false" | quote }}
  REDIS_SERVICE_ACCOUNT: {{ .Values.identity.configmap.REDIS_SERVICE_ACCOUNT | default "" | quote }}
  GOOGLE_APPLICATION_CREDENTIALS: {{ .Values.identity.configmap.GOOGLE_APPLICATION_CREDENTIALS | default "" | quote }}
  REDIS_TOKEN_LIFETIME: {{ .Values.identity.configmap.REDIS_TOKEN_LIFETIME | default "60" | quote }}
  REDIS_TOKEN_REFRESH_DURATION: {{ .Values.identity.configmap.REDIS_TOKEN_REFRESH_DURATION | default "45" | quote }}
  REDIS_DB: {{ .Values.identity.configmap.REDIS_DB | default "0" | quote }}
  REDIS_PROTOCOL: {{ .Values.identity.configmap.REDIS_PROTOCOL | default "3" | quote }}
  # Extra Env Vars
  {{- with .Values.identity.extraEnvVars }}
  {{- toYaml . | nindent 2 }}
  {{- end }}