apiVersion: v1
kind: Secret
metadata:
  name: {{ include "plugin-identity.fullname" . }}
  labels:
    {{- include "plugin-identity.labels" (dict "context" . "name" .Values.identity.name ) | nindent 4 }}
type: Opaque
data:
  # -- Default sensitive variables for the identity
  AUTHORIZER_CLIENT_SECRET: {{ .Values.identity.secrets.AUTHORIZER_CLIENT_SECRET | default "6add4bc64f394456a77fa85708ad8c9b67e39e4c" | b64enc | quote }}
  LICENSE_KEY: {{ .Values.identity.secrets.LICENSE_KEY | b64enc | quote }}
  ORGANIZATION_IDS: {{ .Values.identity.secrets.ORGANIZATION_IDS | b64enc | quote }}
  {{- if .Values.auth.secrets.REDIS_PASSWORD }}
  REDIS_PASSWORD: {{ .Values.auth.secrets.REDIS_PASSWORD | b64enc | quote }}
  {{- end }}