{{- if .Values.console.enabled }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "midaz-console.fullname" . }}
data:
  # OPEN TELEMETRY
  ENABLE_TELEMETRY: {{ .Values.console.configmap.ENABLE_TELEMETRY | default "false" | quote }}
  OTEL_RECEIVER_HTTP_PORT: {{ .Values.console.configmap.OTEL_RECEIVER_HTTP_PORT | default "4318" | quote }}
  OTEL_HOST: {{ .Values.console.configmap.OTEL_HOST | default "midaz-grafana.%s" | quote }}
  OTEL_URL_METRICS: {{ .Values.console.configmap.OTEL_URL | default (printf "midaz-grafana.%s.svc.cluster.local.:4318/v1/metrics" .Release.Namespace) | quote }}
  OTEL_URL_TRACES: {{ .Values.console.configmap.OTEL_URL | default (printf "midaz-grafana.%s.svc.cluster.local.:4318/v1/traces" .Release.Namespace) | quote }}
  OTEL_URL_LOGS: {{ .Values.console.configmap.OTEL_URL | default (printf "midaz-grafana.%s.svc.cluster.local.:4318/v1/logs" .Release.Namespace) | quote }}
  
  # APP
  VERSION: {{ .Values.console.image.tag | quote }}

  # Midaz Console
  MIDAZ_CONSOLE_PORT: {{ .Values.console.configmap.MIDAZ_CONSOLE_PORT | default "8081" | quote }}
  MIDAZ_CONSOLE_SERVICE_HOST: {{ .Values.console.configmap.MIDAZ_CONSOLE_SERVICE_HOST | default "midaz-console" | quote }}
  MIDAZ_CONSOLE_SERVICE_PORT: {{ .Values.console.configmap.MIDAZ_CONSOLE_SERVICE_PORT | default "8081" | quote }}
  MIDAZ_CONSOLE_BASE_PATH: {{ .Values.console.configmap.MIDAZ_CONSOLE_BASE_PATH | default "http://midaz-console:8081" | quote }}
  MIDAZ_CONSOLE_ENABLE_DEBUG: {{ .Values.console.configmap.MIDAZ_CONSOLE_ENABLE_DEBUG | default "true" | quote }}

  # Nginx Configuration
  NGINX_PORT: {{ .Values.console.configmap.NGINX_PORT | default "8080" | quote }}
  NGINX_HOST: {{ .Values.console.configmap.NGINX_HOST | default "midaz-nginx" | quote }}
  NGINX_BASE_PATH: {{ .Values.console.configmap.NGINX_BASE_PATH | default "http://midaz-nginx.svc.cluster.local:8080" | quote }}

  # Midaz API Configuration
  MIDAZ_API_HOST: {{ .Values.console.configmap.MIDAZ_API_HOST | default (printf "midaz-onboarding.%s.svc.cluster.local." .Release.Namespace) | quote }}
  MIDAZ_API_PORT: {{ .Values.console.configmap.MIDAZ_API_PORT | default "3000" | quote }}
  MIDAZ_BASE_PATH: {{ .Values.console.configmap.MIDAZ_BASE_PATH | default (printf "http://midaz-onboarding.%s.svc.cluster.local.:3000/v1" .Release.Namespace)  | quote }}
  MIDAZ_TRANSACTION_BASE_HOST: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_HOST | default (printf "midaz-transaction.%s.svc.cluster.local." .Release.Namespace) | quote }}
  MIDAZ_TRANSACTION_BASE_PORT: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_PORT | default "3001" | quote }}
  MIDAZ_TRANSACTION_BASE_PATH: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_PATH | default (printf "http://midaz-transaction.%s.svc.cluster.local.:3001/v1" .Release.Namespace) | quote }}
  
  # NextAuth Configuration
  NEXTAUTH_URL: {{ .Values.console.configmap.NEXTAUTH_URL | default "http://midaz-console:8081" | quote }}
  
  # Plugin Auth
  PLUGIN_AUTH_ENABLED: {{ .Values.console.configmap.PLUGIN_AUTH_ENABLED | default "false" | quote }}
  PLUGIN_AUTH_CLIENT_ID: {{ .Values.console.configmap.PLUGIN_AUTH_CLIENT_ID | default "ac56c81d4d6d95c0ac12" | quote }}
  PLUGIN_AUTH_HOST: {{ .Values.console.configmap.PLUGIN_AUTH_HOST | default "plugins-auth.midaz-plugins" | quote }}
  PLUGIN_AUTH_PORT: {{ .Values.console.configmap.PLUGIN_AUTH_PORT | default "4000" | quote }}
  PLUGIN_AUTH_BASE_PATH: {{ .Values.console.configmap.PLUGIN_AUTH_BASE_PATH | default "http://plugin-access-manager-auth.midaz-plugins.svc.cluster.local.:4000/v1" | quote }}

  # Plugin Identity Configuration
  PLUGIN_IDENTITY_HOST: {{ .Values.console.configmap.PLUGIN_IDENTITY_HOST | default "plugin-access-manager-identity.midaz-plugins.svc.cluster.local."  | quote }}
  PLUGIN_IDENTITY_PORT: {{ .Values.console.configmap.PLUGIN_IDENTITY_PORT | default "4001" | quote }}
  PLUGIN_IDENTITY_BASE_PATH: {{ .Values.console.configmap.PLUGIN_IDENTITY_BASE_PATH | default "http://plugin-access-manager-identity.midaz-plugins.svc.cluster.local.:4001/v1" | quote }}

  # MongoDB Configuration
  MONGODB_URI: {{ .Values.console.configmap.MONGODB_URI | default "mongodb://midaz-mongodb.midaz.svc.cluster.local." | quote }}
  MONGODB_DB_NAME: {{ .Values.console.configmap.MONGODB_DB_NAME | default "midaz-console" | quote }}
  MONGODB_USER: {{ .Values.console.configmap.MONGODB_USER | default "midaz" | quote }}

  # Midaz Console NextJS Public Configuration
  NEXT_PUBLIC_MIDAZ_CONSOLE_AVATAR_ALLOWED_FORMAT: {{ .Values.console.configmap.NEXT_PUBLIC_MIDAZ_CONSOLE_AVATAR_ALLOWED_FORMAT | default "jpeg,jpg,png,svg" | quote }}
  NEXT_PUBLIC_MIDAZ_APPLICATION_OPTIONS: {{ .Values.console.configmap.NEXT_PUBLIC_MIDAZ_APPLICATION_OPTIONS | default "midaz,plugin-fees,plugin-crm,plugin-smart-templates" | quote }}
  NEXT_PUBLIC_MIDAZ_AUTH_ENABLED: {{ .Values.console.configmap.PLUGIN_AUTH_ENABLED | default "false" | quote }}
  NEXT_PUBLIC_MIDAZ_CONSOLE_BASE_URL: {{ .Values.console.configmap.NEXT_PUBLIC_MIDAZ_CONSOLE_BASE_URL | default "http://midaz-console:8081" | quote }}
  NEXT_PUBLIC_MIDAZ_VERSION: {{ .Values.console.image.tag | quote }}

  # Extra Env Variables
  {{- range $key, $value := .Values.console.extraEnvVars }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}

{{- end }}

