kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "midaz-console.fullname" . }}
data:
  # OPEN TELEMETRY
  OTEL_RECEIVER_HTTP_PORT: {{ .Values.console.configmap.OTEL_RECEIVER_HTTP_PORT | default "4318" | quote }}
  OTEL_HOST: {{ .Values.console.configmap.OTEL_HOST | default "midaz-grafana.%s" | quote }}
  OTEL_URL: {{ .Values.console.configmap.OTEL_URL | default (printf "midaz-grafana.%s.svc.cluster.local.:4318/v1/metrics" .Release.Namespace) | quote }}
  # Midaz Console
  MIDAZ_CONSOLE_PORT: {{ .Values.console.configmap.MIDAZ_CONSOLE_PORT | default "8081" | quote }}
  MIDAZ_CONSOLE_SERVICE_HOST: {{ .Values.console.configmap.MIDAZ_CONSOLE_SERVICE_HOST | default "midaz-console" | quote }}
  MIDAZ_CONSOLE_SERVICE_PORT: {{ .Values.console.configmap.MIDAZ_CONSOLE_SERVICE_PORT | default "8081" | quote }}
  MIDAZ_CONSOLE_BASE_PATH: {{ .Values.console.configmap.MIDAZ_CONSOLE_BASE_PATH | default "http://midaz-console:8081" | quote }}
  MIDAZ_CONSOLE_AVATAR_ALLOWED_FORMATS: {{ .Values.console.configmap.MIDAZ_CONSOLE_AVATAR_ALLOWED_FORMATS | default "jpeg,jpg,png,svg" | quote }}
  # NextAuth Configuration
  NEXTAUTH_URL: {{ .Values.console.configmap.NEXTAUTH_URL | default "http://midaz-console:8081" | quote }}
  NEXTAUTH_SECRET: {{ .Values.console.configmap.NEXTAUTH_SECRET | default "testSecret" | quote }}
  NEXTAUTH_CASDOOR_CLIENT_ID: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_CLIENT_ID | default "9670e0ca55a29a466d31" | quote }}
  NEXTAUTH_CASDOOR_CLIENT_SECRET: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_CLIENT_SECRET | default "dd03f916cacf4a98c6a413d9c38ba102dce436a9" | quote }}
  NEXTAUTH_CASDOOR_AUTH_HOST: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_AUTH_HOST | default (printf "http://midaz-casdoor.%s.svc.cluster.local." .Release.Namespace) | quote }}
  NEXTAUTH_CASDOOR_AUTH_PORT: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_AUTH_PORT | default "8000" | quote }}
  NEXTAUTH_CASDOOR_AUTH_URL: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_AUTH_URL | default (printf "http://midaz-casdoor.%s.svc.cluster.local.:8000" .Release.Namespace) | quote }}
  NEXTAUTH_CASDOOR_ORGANIZATION_NAME: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_ORGANIZATION_NAME | default "lerian" | quote }}
  NEXTAUTH_CASDOOR_APPLICATION_NAME: {{ .Values.console.configmap.NEXTAUTH_CASDOOR_APPLICATION_NAME | default "app-midaz" | quote }}
  # Midaz API Configuration
  MIDAZ_API_HOST: {{ .Values.console.configmap.MIDAZ_API_HOST | default (printf "midaz-onboarding.%s.svc.cluster.local." .Release.Namespace) | quote }}
  MIDAZ_API_PORT: {{ .Values.console.configmap.MIDAZ_API_PORT | default "3000" | quote }}
  MIDAZ_BASE_PATH: {{ .Values.console.configmap.MIDAZ_BASE_PATH | default (printf "http://midaz-onboarding.%s.svc.cluster.local.:3000/v1" .Release.Namespace)  | quote }}
  MIDAZ_TRANSACTION_BASE_HOST: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_HOST | default (printf "midaz-transaction.%s.svc.cluster.local." .Release.Namespace) | quote }}
  MIDAZ_TRANSACTION_BASE_PORT: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_PORT | default "3001" | quote }}
  MIDAZ_TRANSACTION_BASE_PATH: {{ .Values.console.configmap.MIDAZ_TRANSACTION_BASE_PATH | default (printf "http://midaz-transaction.%s.svc.cluster.local.:3001/v1" .Release.Namespace) | quote }}
  # Midaz Console Configuration
  ENABLE_DEBUG: {{ .Values.console.configmap.ENABLE_DEBUG | default "true" | quote }}
  NODE_ENV: {{ .Values.console.configmap.NODE_ENV | default "development" | quote }}

