apiVersion: v1
kind: Secret
metadata:
  name: {{ include "midaz-console.fullname" . }}
type: Opaque
data:
  PLUGIN_AUTH_CLIENT_SECRET: {{ .Values.console.secrets.PLUGIN_AUTH_CLIENT_SECRET | default "6add4bc64f394456a77fa85708ad8c9b67e39e4c" | b64enc | quote }}
  NEXTAUTH_SECRET: {{ .Values.console.secrets.NEXTAUTH_SECRET | default "SECRET" | b64enc | quote }}
  MONGODB_PASS: {{ .Values.console.secrets.MONGODB_PASSWORD | default "lerian" | b64enc | quote }}



