apiVersion: v1
kind: Secret
metadata:
  name: {{ include "midaz-transaction.fullname" . }}
type: Opaque
data:
  MONGO_PASSWORD: {{ .Values.transaction.configmap.MONGO_PASSWORD | default "lerian" | b64enc | quote }}
  DB_PASSWORD: {{ .Values.transaction.configmap.DB_PASSWORD | default "lerian" | b64enc | quote }}
  DB_REPLICA_PASSWORD: {{ .Values.transaction.configmap.DB_REPLICA_PASSWORD | default "lerian" | b64enc | quote }}
  REPLICATION_PASSWORD: {{ .Values.transaction.configmap.REPLICATION_PASSWORD | default "lerian" | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.transaction.configmap.RABBITMQ_DEFAULT_PASS | default "lerian" | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.transaction.configmap.REDIS_PASSWORD | default "lerian" | b64enc | quote }}