apiVersion: v1
kind: Secret
metadata:
  name: {{ include "midaz-transaction.fullname" . }}
type: Opaque
data:
  MONGO_PASSWORD: {{ .Values.transaction.secrets.MONGO_PASSWORD | default "lerian" | b64enc | quote }}
  DB_PASSWORD: {{ .Values.transaction.secrets.DB_PASSWORD | default "lerian" | b64enc | quote }}
  DB_REPLICA_PASSWORD: {{ .Values.transaction.secrets.DB_REPLICA_PASSWORD | default "lerian" | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.transaction.secrets.RABBITMQ_DEFAULT_PASS | default "lerian" | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.transaction.secrets.REDIS_PASSWORD | default "lerian" | b64enc | quote }}