{{- if and (eq (include "transaction.shouldDeploy" .) "true") .Values.transaction.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "midaz-transaction.fullname" . }}
  labels:
    {{- include "midaz.labels" (dict "context" . "component" .Values.transaction.name "name" .Values.transaction.name ) | nindent 4 }}
  {{- with .Values.transaction.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}