apiVersion: v1
kind: Service
metadata:
  name: {{ include "midaz-transaction.fullname" . }}
  labels:
    {{- include "midaz.labels" (dict "context" . "component" .Values.transaction.name "name" .Values.transaction.name ) | nindent 4 }}
  {{- with .Values.transaction.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.transaction.service.type }}
  ports:
    - port: {{ .Values.transaction.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.transaction.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "midaz.selectorLabels" (dict "context" . "name" .Values.transaction.name) | nindent 4 }}