apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "plugin-auth.fullname" . }}
  labels:
    {{- include "plugin-auth.labels" (dict "context" . "name" .Values.auth.name ) | nindent 4 }} 
data:
  # -- Default Environment variables for the plugin-auth 
  APPLICATION_NAME: {{ .Values.auth.configmap.APPLICATION_NAME | default "plugin-auth" | quote }}
  ENV_NAME: {{ .Values.auth.configmap.ENV_NAME | default "development" | quote }}

  # APP 
  SERVER_PORT: {{ .Values.auth.configmap.SERVER_PORT | default "4000" | quote }}
  SERVER_ADDRESS: {{ .Values.auth.configmap.SERVER_ADDRESS | default ":4000" | quote }}
  VERSION: {{ .Values.auth.image.tag | quote }}

  # REDIS
  REDIS_HOST: {{ printf "%s:%s" (.Values.auth.configmap.REDIS_HOST | default (printf "plugin-access-manager-valkey-primary.%s.svc.cluster.local" .Release.Namespace)) (.Values.auth.configmap.REDIS_PORT | default "6379" | toString) | quote }}
  REDIS_PORT: {{ .Values.auth.configmap.REDIS_PORT | default "6379" | quote }}
  REDIS_USER: {{ .Values.auth.configmap.REDIS_USER | default "auth" | quote }}
  REDIS_SCAN_COUNT: {{ .Values.auth.configmap.REDIS_SCAN_COUNT | default "500" | quote }}
  REDIS_MASTER_NAME: {{ .Values.auth.configmap.REDIS_MASTER_NAME | default "" | quote }}
  REDIS_TLS: {{ .Values.auth.configmap.REDIS_TLS | default "false" | quote }}
  REDIS_CA_CERT: {{ .Values.auth.configmap.REDIS_CA_CERT | default "" | quote }}
  REDIS_USE_GCP_IAM: {{ .Values.auth.configmap.REDIS_USE_GCP_IAM | default "false" | quote }}
  REDIS_SERVICE_ACCOUNT: {{ .Values.auth.configmap.REDIS_SERVICE_ACCOUNT | default "" | quote }}
  GOOGLE_APPLICATION_CREDENTIALS: {{ .Values.auth.configmap.GOOGLE_APPLICATION_CREDENTIALS | default "" | quote }}
  REDIS_TOKEN_LIFETIME: {{ .Values.auth.configmap.REDIS_TOKEN_LIFETIME | default "60" | quote }}
  REDIS_TOKEN_REFRESH_DURATION: {{ .Values.auth.configmap.REDIS_TOKEN_REFRESH_DURATION | default "45" | quote }}
  REDIS_DB: {{ .Values.auth.configmap.REDIS_DB | default "0" | quote }}
  REDIS_PROTOCOL: {{ .Values.auth.configmap.REDIS_PROTOCOL | default "3" | quote }}
  
  # SWAGGER
  SWAGGER_TITLE: {{ .Values.auth.configmap.SWAGGER_TITLE | default "Plugin Auth API" | quote }}
  SWAGGER_DESCRIPTION: {{ .Values.auth.configmap.SWAGGER_DESCRIPTION | default "This is a swagger documentation for the Plugin Auth API" | quote }}
  SWAGGER_VERSION: {{ .Values.auth.image.tag | quote }}
  SWAGGER_HOST: {{ .Values.auth.configmap.SWAGGER_HOST | default (printf "plugin-auth.%s.svc.cluster.local" .Release.Namespace) | quote }}
  SWAGGER_BASE_PATH: {{ .Values.auth.configmap.SWAGGER_BASE_PATH | default "/" | quote }}
  SWAGGER_SCHEMES: {{ .Values.auth.configmap.SWAGGER_SCHEMES | default "http" | quote }}
  SWAGGER_LEFT_DELIMITER: {{ .Values.auth.configmap.SWAGGER_LEFT_DELIMITER | default "{{" | quote }}
  SWAGGER_RIGHT_DELIMITER: {{ .Values.auth.configmap.SWAGGER_RIGHT_DELIMITER | default "}}" | quote }}

  # LOG LEVEL
  LOG_LEVEL: {{ .Values.auth.configmap.LOG_LEVEL | default "debug" | quote }}
  SECURE_LOG_FIELDS: {{ .Values.auth.configmap.SECURE_LOG_FIELDS | default "password,clientSecret" | quote }}

  # OPEN TELEMETRY
  OTEL_RESOURCE_SERVICE_NAME: {{ .Values.auth.configmap.OTEL_RESOURCE_SERVICE_NAME | default "auth" | quote }}
  OTEL_LIBRARY_NAME: {{ .Values.auth.configmap.OTEL_LIBRARY_NAME | default "github.com/LerianStudio/auth" | quote }}
  OTEL_RESOURCE_SERVICE_VERSION: {{ .Values.auth.image.tag | quote }}
  OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT: {{ .Values.auth.configmap.OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT | default "dev" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT_PORT: {{ .Values.auth.configmap.OTEL_EXPORTER_OTLP_ENDPOINT_PORT | default "4317" | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.auth.configmap.OTEL_EXPORTER_OTLP_ENDPOINT | default "midaz-grafana.midaz.svc.cluster.local:4317" | quote }}
  ENABLE_TELEMETRY: {{ .Values.auth.configmap.ENABLE_TELEMETRY | default "true" | quote }}

  # AUTHORIZER
  RUNNING_IN_DOCKER: {{ .Values.auth.configmap.RUNNING_IN_DOCKER | default "true" | quote }}
  AUTHORIZER_PORT: {{ .Values.auth.configmap.AUTHORIZER_PORT | default "8000" | quote }}
  AUTHORIZER_ADDRESS: {{ .Values.auth.configmap.AUTHORIZER_ADDRESS | default "http://plugin-access-manager-auth-backend:8000" | quote }}
  AUTHORIZER_CLIENT_ID: {{ .Values.auth.configmap.AUTHORIZER_CLIENT_ID | default "ac56c81d4d6d95c0ac12" | quote }}
  AUTHORIZER_ORGANIZATION_NAME: {{ .Values.auth.configmap.AUTHORIZER_ORGANIZATION_NAME | default "lerian" | quote }}
  AUTHORIZER_APPLICATION_NAME: {{ .Values.auth.configmap.AUTHORIZER_APPLICATION_NAME | default "app-lerian" | quote }}
  AUTHORIZER_MODEL_NAME: {{ .Values.auth.configmap.AUTHORIZER_MODEL_NAME | default "api-model" | quote }}

  # DB
  DB_HOST: {{ .Values.auth.configmap.DB_HOST | default (printf "plugin-access-manager-authdb.%s.svc.cluster.local." .Release.Namespace) | quote }}
  DB_USER: {{ .Values.auth.configmap.DB_USER | default "auth" | quote }}
  DB_NAME: {{ .Values.auth.configmap.DB_NAME | default "casdoor" | quote }}
  DB_PORT: {{ .Values.auth.configmap.DB_PORT | default "5432" | quote }}
  USER_EXECUTE_COMMAND: {{ .Values.auth.configmap.USER_EXECUTE_COMMAND | default "postgres" | quote }}

  # Extra Env Vars
  {{- with .Values.auth.extraEnvVars }}
  {{- toYaml . | nindent 2 }}
  {{- end }}