apiVersion: v1
kind: Secret
metadata:
  name: {{ include "plugin-auth.fullname" . }}
  labels:
    {{- include "plugin-auth.labels" (dict "context" . "name" .Values.auth.name ) | nindent 4 }}
type: Opaque
data:
  # -- Default sensitive variables for the auth
  AUTHORIZER_CLIENT_SECRET: {{ .Values.auth.secrets.CASDOOR_CLIENT_SECRET | default "6add4bc64f394456a77fa85708ad8c9b67e39e4c" | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.auth.secrets.REDIS_PASSWORD | default "lerian" | b64enc | quote }}
  DB_PASSWORD: {{ .Values.auth.secrets.DB_PASSWORD | default "lerian" | b64enc | quote }}
  LICENSE_KEY: {{ .Values.auth.secrets.LICENSE_KEY | b64enc | quote }}
  ORGANIZATION_IDS: {{ .Values.auth.secrets.ORGANIZATION_IDS | b64enc | quote }}