## Reference: https://github.com/amannn/action-semantic-pull-request
name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  contents: read

jobs:
  main:
    permissions:
      pull-requests: read
      statuses: write
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_APP_ID }}
          private-key: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_PRIVATE_KEY }}

      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
        with:
          scopes: |
            chart
            onboarding
            transaction
            console
            dependencies
            values
            pipe
            doc
            github
          requireScope: true
