## Reference: https://github.com/helm/chart-releaser-action
name: Chart Publish
on:
  push:
    branches:
      - main
    # paths:
    #   - "charts/**"

permissions:
  contents: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.4

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.LERIAN_CI_CD_USER_GPG_KEY }}
          passphrase: ${{ secrets.LERIAN_CI_CD_USER_GPG_KEY_PASSWORD }}
          git_committer_name: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          git_committer_email: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Semantic Release
      #   uses: cycjimmy/semantic-release-action@v4
      #   with:
      #     ci: false
      #     semantic_version: 23.0.8
      #     extra_plugins: |
      #       conventional-changelog-conventionalcommits@v7.0.2
      #       @saithodev/semantic-release-backmerge
      #       semantic-release-helm3
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GIT_AUTHOR_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
      #     GIT_AUTHOR_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
      #     GIT_COMMITTER_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
      #     GIT_COMMITTER_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1
        with:
          charts_dir: ./charts
          config: .github/configs/cr.yaml
          packages_with_index: true
          pages_branch: "gh-pages"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push chart to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          done