name: Helm Release

on:
  push:
    branches:
      - main
      - develop
      - feat/ghcr
    paths-ignore:
      - 'README.md'
      - '.github/workflows/**'
      - '.github/configs/**'
      - '.gitignore'

jobs:
  get-changed-paths:
    name: Get Changed Paths
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-paths.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed paths
        id: changed-paths
        uses: LerianStudio/github-actions-changed-paths@main
        with:
          filter_paths: charts/
          get_app_name: true
          path_level: 2
    
  release-helm-chart:
    needs: get-changed-paths
    name: Release Helm Chart
    if: needs.get-changed-paths.outputs.matrix != '[]'
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        chart: ${{ fromJson(needs.get-changed-paths.outputs.matrix) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Update Last Changes
        run: git pull origin ${{ github.ref_name }}

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Helm Lint
        run: helm lint ${{ matrix.chart.working_dir }}

      - name: Run helm unittest
        id: unittest
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git
          helm unittest ${{ matrix.chart.working_dir }}
      
      - name: Helm Dependency Update
        run: helm dependency update ${{ matrix.chart.working_dir }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_APP_ID }}
          private-key: ${{ secrets.LERIAN_STUDIO_MIDAZ_PUSH_BOT_PRIVATE_KEY }}

      - name: Generate .releaserc file
        run: |
          CHART_NAME="${{ matrix.chart.name }}"
          CHART_PATH="${{ matrix.chart.working_dir }}"  
      
          jq \
            --arg chartPath "$CHART_PATH" \
            --arg changelogPath "$CHART_PATH/CHANGELOG.md" \
            --arg successCmd "helm package $CHART_PATH && helm push $CHART_PATH-\${nextRelease.version}.tgz oci://ghcr.io/lerianstudio" \
            '.plugins[2][1].chartPath = $chartPath |
              .plugins[3][1].changelogFile = $changelogPath |
              .plugins[4][1].assets[0] = $changelogPath |
              .plugins[4][1].assets[1] = ($chartPath + "/Chart.yaml") |
              .plugins[5][1].successCmd = $successCmd' \
            .github/configs/.releaserc.json > .releaserc

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: semantic_changelog
        with:
          ci: false
          semantic_version: 23.0.8
          extra_plugins: |
            conventional-changelog-conventionalcommits@v7.0.2
            semantic-release-helm3
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec@6.0.3
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GIT_AUTHOR_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.LERIAN_CI_CD_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.LERIAN_CI_CD_USER_EMAIL }}


